@charset "UTF-8";
* {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
html {
  font-size: 10px;
}
html[data-dpr="1"] body,
html[data-dpr="1"] .fixed-100 {
  max-width: 640px;
}
body {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font: 1.2rem/1.5 "Helvetica Neue", Helvetica, STHeiTi, "Droid Sans Fallback", "Microsoft YaHei";
  color: black;
  -webkit-text-size-adjust: none !important;
}
header,
footer,
section,
aside,
figure,
nav {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.addboht {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1,
h2,
h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
li,
dl,
dt,
dd,
p {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,
button,
textarea {
  display: block;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  font: 1.2rem/1.5 "Helvetica Neue", Helvetica, STHeiTi, "Droid Sans Fallback", "Microsoft YaHei";
}
button {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}
img {
  max-width: 100%;
  border: 0;
  margin: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: black;
}
i {
  font-style: normal;
}
*[placeholder]:empty:before,
*[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: #A9A9A9;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.yuan:before {
  content: "¥";
  font-family: "Arial";
}
.red {
  color: #DC1E32;
}
.gray {
  color: #A7AAAC;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-nowrap {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  overflow: hidden;
  /** 隐藏超出的内容 **/
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  display: block;
}
.center-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
  -moz-transform: scale(1, 1) translate(-50%, -50%);
  transform: scale(1, 1) translate(-50%, -50%);
}
.center-middle.setNewWidth {
  width: 100%;
}
.sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fixed-100 {
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  top: 0;
  bottom: 0;
}
.dialog-tips {
  position: fixed !important;
  width: 60%;
  max-width: 480px;
  padding: 2rem 1.2rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 1.4rem;
  z-index: 9999;
}
.page-wrapper {
  bottom: auto;
}
.click-right-arrow:after {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  top: 50%;
  border-top: 0.1rem solid #888;
  border-left: 0.1rem solid #888;
  margin-top: -0.6rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.ico-cls {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 1rem;
  right: 1rem;
  background: url("img/ico-close.png") no-repeat;
  background-size: 100% 200%;
  background-position: 0 0;
  z-index: 1;
}
.tab .container {
  border-bottom: 1px solid #D2D2D2;
  padding: 0 1rem;
  background: white;
  z-index: 1;
}
.tab .container li {
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  margin-bottom: -1px;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
}
.tab .container li.current {
  border-bottom-color: #DC1E32;
}
.select {
  padding-left: 3rem !important;
}
.select:before {
  content: "";
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  top: 50%;
  left: 1rem;
  margin-top: -0.7rem;
  border: .1rem solid #999;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  border-radius: 1.3rem;
}
.select.selected:before {
  border-color: #DC1E32;
  background: #DC1E32;
}
.select.selected:after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.8rem;
  top: 50%;
  border-top: 0.2rem solid white;
  border-left: 0.2rem solid white;
  margin-top: -0.3rem;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 1.5rem;
  margin-top: -0.5rem;
}
header.page-title {
  z-index: 1;
}
header.page-title h1.title {
  min-height: 4.4rem;
  font-size: 1.5rem;
  line-height: 4.4rem;
  text-align: center;
}
header.page-title a.question-mark {
  width: 2.4rem;
  height: 2.4rem;
  background: url("img/ico-48.png") no-repeat;
  background-size: 100% 2100%;
  background-position: 0 90%;
  display: inline-block;
  vertical-align: top;
  margin-top: 1rem;
}
header.page-title a.my-nav {
  position: absolute;
  width: 4.4rem;
  height: 4.4rem;
  top: 0;
  left: 0;
  z-index: 1;
}
header.page-title a.my-nav:before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 50%;
  left: 50%;
  margin: -1.2rem 0 0 -1.2rem;
  background: url("img/ico-481.png") no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
header.page-title .appoint-info {
  position: absolute;
  top: 0;
  right: 1rem;
  line-height: 4.4rem;
  z-index: 1;
}
.confirm-single-btn {
  top: auto;
  line-height: 4.4rem;
  text-align: center;
  font-size: 1.7rem;
  background: #DC1E32;
  color: white;
  z-index: 1;
}
.confirm-single-btn.gray {
  background: #bfbfbf;
}
.confirm-single-btn:active {
  background: #A40000;
}
figure.sfer-style {
  width: 9rem;
  position: absolute;
  text-align: center;
}
figure.sfer-style .img {
  width: 8rem;
  height: 8rem;
  border: 1px solid #D4D6D5;
  -webkit-border-radius: 8rem;
  -moz-border-radius: 8rem;
  border-radius: 8rem;
}
figure.sfer-style .star-box {
  height: 1.8rem;
  margin-top: -1.7rem;
  border: 1px solid #D2D2D2;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  background: white;
  overflow: hidden;
}
figure.sfer-style .star-box .text {
  display: block;
  float: left;
  width: 2.8rem;
  border-right: 1px solid #D2D2D2;
  line-height: 1.8rem;
  font-size: 1.4rem;
}
figure.sfer-style .star-box .star {
  position: absolute;
  width: 5.6rem;
  height: 1rem;
  top: 50%;
  right: .2rem;
  margin-top: -0.5rem;
  background: url("img/sfer-star.png") no-repeat;
  background-size: 100% 200%;
  background-position: 0 0;
}
figure.sfer-style.no-assort .star-box .star {
  background-position-y: 100%;
}
figure.sfer-style .name {
  background: white;
  line-height: 1.5rem;
  font-size: 1.3rem;
  color: #5A5A5A;
}
figure.sfer-style .name .limitSixChar {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.8rem;
}
aside.my-nav-aside {
  overflow: hidden;
  z-index: 99;
}
aside.my-nav-aside.screen-small .user {
  padding: 2rem 0 1.5rem;
}
aside.my-nav-aside.screen-small .user p {
  padding: 1.2rem 0 0;
}
aside.my-nav-aside.screen-small .nav a {
  line-height: 1.6rem;
}
aside.my-nav-aside .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
aside.my-nav-aside .wrap {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}
aside.my-nav-aside .user {
  padding: 3rem 0 2rem;
  background: #404040;
  text-align: center;
}
aside.my-nav-aside .user img {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
}
aside.my-nav-aside .user p {
  padding: 1.3rem 0 0;
  line-height: 1.3rem;
  font-size: 1.3rem;
  color: #999;
}
aside.my-nav-aside .nav a {
  display: block;
  padding: 1rem 0;
  line-height: 2rem;
  text-indent: 7.4rem;
  font-size: 1.5rem;
  color: white;
}
aside.my-nav-aside .nav .mailbox {
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}
aside.my-nav-aside .nav a:before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 50%;
  left: 4rem;
  margin-top: -1.2rem;
  background: url("img/ico-my-nav-aside.png") no-repeat;
  background-size: 100% 900%;
  background-position: 0 0;
}
aside.my-nav-aside .nav .mailbox:before {
  background-position-y: 0;
}
aside.my-nav-aside .nav .sending:before {
  background-position-y: 12.5%;
}
aside.my-nav-aside .nav .query:before {
  background-position-y: 25%;
}
aside.my-nav-aside .nav .delivery:before {
  background-position-y: 37.5%;
}
aside.my-nav-aside .nav .wallet:before {
  background-position-y: 50%;
}
aside.my-nav-aside .nav .like:before {
  background-position-y: 62.5%;
}
aside.my-nav-aside .nav .address:before {
  background-position-y: 87.5%;
}
aside.my-nav-aside .nav .products:before {
  background-position-y: 75%;
}
aside.my-nav-aside .logout {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  color: #6C6C6C;
}
aside.my-nav-aside.fadein .wrap {
  -webkit-animation: asidein .4s ease;
  -moz-animation: asidein .4s ease;
  animation: asidein .4s ease;
}
aside.my-nav-aside.fadeout .wrap {
  -webkit-animation: asideout .4s ease;
  -moz-animation: asideout .4s ease;
  animation: asideout .4s ease;
}
@-webkit-keyframes asidein {
  0% {
    left: -70%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes asidein {
  0% {
    left: -70%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes asideout {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -70%;
    opacity: 0;
  }
}
@keyframes asideout {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -70%;
    opacity: 0;
  }
}
.select-roll {
  top: auto;
  color: white;
  z-index: 99;
}
.select-roll.double .swiper-container {
  width: 48%;
  float: left;
}
.select-roll.double .selclass2 {
  float: right;
}
.select-roll.triple .swiper-container {
  width: 33.1%;
  float: left;
}
.select-roll.triple .selclass3 {
  float: right;
}
.select-roll .meta {
  line-height: 4.4rem;
  text-indent: 1rem;
}
.select-roll .meta .title {
  font-size: 1.5rem;
}
.select-roll .meta .close {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  right: 1rem;
  margin-top: -0.8rem;
}
.select-roll .meta-two {
  line-height: 4.4rem;
  text-indent: 1rem;
}
.select-roll .meta-two .title {
  font-size: 1.5rem;
  border-top: 1px solid #5a5a5a;
}
.select-roll .hot-list {
  height: auto;
  padding: 0 .5rem;
  padding-bottom: 1rem;
  overflow: hidden;
}
.select-roll .hot-list li {
  float: left;
  line-height: 3.2rem;
  width: 29%;
  text-align: center;
  margin: .5rem;
  color: #a7aaac;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-roll .hot-list li.clicked {
  background: #DC1E32;
  color: #fff;
}
.select-roll .content {
  height: 9.6rem;
  overflow: hidden;
}
.select-roll .content.five {
  height: 16rem;
}
.select-roll .content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.2rem;
  top: 0;
  left: 0;
  background: #DC1E32;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.select-roll .content i {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  left: 33%;
  display: block;
}
.select-roll .content i:after {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  left: 33%;
}
.select-roll .content.five:before {
  top: 50%;
  margin-top: -1.6rem;
}
.select-roll .swiper-container {
  height: 100%;
}
.select-roll .swiper-container.selclass1 {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.select-roll .swiper-container.selclass3 {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.select-roll .content .fix-p {
  width: 100%;
  height: 2.15rem;
  background: linear-gradient(#333333, rgba(51, 51, 51, 0.35));
  position: absolute;
  top: 0rem;
  z-index: 2;
}
.select-roll .content .bott-p {
  width: 100%;
  height: 2.15rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(51, 51, 51, 0.35), #333333);
  z-index: 2;
}
.select-roll .swiper-slide {
  height: 3.2rem;
  font-size: 1.1rem;
  line-height: 3.2rem;
  text-align: center;
  color: #909090;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-roll .swiper-slide.swiper-slide-active {
  font-size: 1.5rem;
  color: #ffffff;
}
.select-roll .swiper-slide.swiper-slide-next {
  font-size: 1.3rem;
  transform: perspective(1rem) rotateX(-2deg);
}
.select-roll .swiper-slide.swiper-slide-prev {
  font-size: 1.3rem;
  transform: perspective(1rem) rotateX(2deg);
}
.select-roll .confirm {
  width: 100%;
  border-top: 1px solid #5E5E5E;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.5rem;
  color: white;
}
.select-roll .mask {
  z-index: 1;
}
.select-roll .wrap {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}
.dialog-yes-no,
.dialog-FCity {
  z-index: 99;
}
.dialog-yes-no .mask,
.dialog-FCity .mask {
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
.dialog-yes-no .content,
.dialog-FCity .content {
  position: fixed;
  width: 87.5%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  text-align: center;
  z-index: 1;
}
.dialog-yes-no .content .title,
.dialog-FCity .content .title {
  padding: 3.2rem 0 2.7rem;
  line-height: 2.2rem;
  font-size: 1.7rem;
}
.dialog-yes-no .content .btn,
.dialog-FCity .content .btn {
  padding: 0 1rem 2rem;
  overflow: hidden;
}
.dialog-yes-no .content .btn a,
.dialog-FCity .content .btn a {
  display: block;
  width: 48%;
  float: left;
  border: 1px solid #CDCDCD;
  color: #333;
  font-size: 1.7rem;
  line-height: 4.4rem;
}
.dialog-yes-no .content .btn .no,
.dialog-FCity .content .btn .no {
  float: right;
}
.dialog-yes-no .content .btn .on,
.dialog-FCity .content .btn .on {
  border-color: #DC1E32;
  background: #DC1E32;
  color: white;
}
.dialog-yes-no .content .others,
.dialog-FCity .content .others {
  display: block;
  padding: 2rem 0;
  line-height: 2.4rem;
  font-size: 1.4rem;
  color: #DC1E32;
}
.dialog-yes-no .content .others:before,
.dialog-FCity .content .others:before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .5rem;
  vertical-align: middle;
  background: url("img/ico-48.png") no-repeat;
  background-size: 100% 2100%;
  background-position: 0 60%;
}
.dialog-yes-no .content .setTips,
.dialog-FCity .content .setTips {
  margin: -1.5rem 0 1.5rem;
  padding-left: 1.4rem;
  text-align: left;
  font-size: 1.4rem;
}
.dialog-yes-no .content .setTips p:last-child,
.dialog-FCity .content .setTips p:last-child {
  color: #DC1E32;
}
.tips-loading {
  z-index: 999;
}
.tips-loading .box {
  width: 10rem;
  height: 10rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  line-height: 16rem;
  text-align: center;
}
.tips-loading:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.tips-loading .box:after {
  content: "";
  position: absolute;
  width: 4.6rem;
  height: 4.6rem;
  top: 1.5rem;
  left: 50%;
  margin-left: -2.3rem;
  background: url("img/circle-loading.png") no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  -webkit-animation: loadingAnimation .8s linear infinite;
  -moz-animation: loadingAnimation .8s linear infinite;
  animation: loadingAnimation .8s linear infinite;
  z-index: 2;
}
@-webkit-keyframes loadingAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dialog-pickup-fromexce .mask {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.dialog-pickup-fromexce .animated {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dialog-pickup-fromexce .content {
  width: 26.8rem;
  padding: 2.9rem 1rem 1rem 1rem;
  color: #000;
  background: #fff;
  z-index: 2;
  position: fixed;
}
.dialog-pickup-fromexce .content .success-butt {
  height: 4rem;
  line-height: 4rem;
  background: #dc1e32;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 1rem;
  display: block;
}
.dialog-pickup-fromexce .content .suc-word {
  line-height: 2.3rem;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
}
.dialog-pickup-fromexce .content .door-time {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
.dialog-pickup-fromexce .content .door-time span {
  margin-left: 1.2rem;
}
.dialog-login-global {
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.dialog-login-global .tab {
  width: 87.5%;
  background: white;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 3;
}
.dialog-login-global .tab .content {
  padding: 1rem;
}
.dialog-login-global .tab .content .term {
  margin-bottom: 1rem;
}
.dialog-login-global .tab .content .input,
.dialog-login-global .tab .content .getsn {
  border: 1px solid #D2D2D2;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 1rem;
}
.dialog-login-global .tab .content .sn0 {
  border: 0;
  background: none;
  line-height: 1.4rem;
}
.dialog-login-global .tab .content .getsn {
  margin-left: .5rem;
}
.dialog-login-global .tab .content .btn {
  width: 100%;
  background: #DC1E32;
  color: white;
  line-height: 4rem;
  text-align: center;
  font-size: 1.7rem;
}
.dialog-footer-fix {
  top: auto;
  color: white;
  z-index: 2;
}
.dialog-footer-fix h2.title {
  font-size: 1.4rem;
  line-height: 4.4rem;
  text-indent: 1rem;
}
.dialog-footer-fix .confirm {
  width: 100%;
  border-top: 1px solid #5E5E5E;
  font-size: 1.6rem;
  line-height: 4.4rem;
  text-align: center;
  color: white;
}
.dialog-footer-fix .close {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 1rem;
  right: 1rem;
}
.dialog-footer-fix .form-list {
  padding: 1rem;
}
.dialog-footer-fix .form-list li {
  margin-bottom: 1rem;
}
.dialog-footer-fix .form-list li span {
  display: block;
  width: 6rem;
  line-height: 3.2rem;
}
.dialog-footer-fix .form-list li input {
  border: 0;
  padding: .4rem 1rem;
  background: #5A5A5A;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: white;
}
.dialog-footer-fix .form-list li input.inputting {
  background: white;
  color: black;
}
.dialog-footer-fix .form-list li input.no-edit {
  background: none;
}
.dialog-footer-fix .con-box {
  padding: 1rem;
  padding-bottom: 2rem;
}
.dialog-footer-fix .single-style {
  padding: 0 1rem .5rem;
}
.dialog-footer-fix .single-style li {
  margin: 0 0 .2rem;
  text-align: center;
  line-height: 3.2rem;
}
.dialog-footer-fix .single-style li:nth-child(1) {
  margin-right: .2rem;
}
.dialog-footer-fix .single-style li.on {
  background: #DC1E32;
  color: white;
}
.dialog-footer-fix .input-box {
  height: 3.1rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
  border: 1px solid transparent;
}
.dialog-footer-fix .input-box input {
  width: 100%;
  height: 1.3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  padding: 1rem .9rem;
  background: #5A5A5A;
  color: white;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.dialog-footer-fix .input-box input.inputting {
  background: white;
  color: #666;
}
.dialog-footer-fix .input-box .msg {
  position: absolute;
  top: .9rem;
  right: 1rem;
  line-height: 1.3rem;
  color: #DC1E32;
  z-index: 2;
}
.dialog-footer-fix .switch-style i {
  position: absolute;
  width: 5rem;
  height: 2rem;
  top: 0;
  right: 0;
  background: #999;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.dialog-footer-fix .switch-style i:before {
  content: "";
  position: absolute;
  width: 50%;
  top: 1px;
  bottom: 1px;
  left: 1px;
  background: white;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.dialog-footer-fix .switch-style.on i {
  background: #DC1E32;
}
.dialog-footer-fix .switch-style.on i:before {
  left: auto;
  right: 1px;
}
.dialog-footer-fix .switch-style h3.t {
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
.dialog-footer-fix .switch-style p.d {
  color: #999;
}
.dialog-footer-fix .mask {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}
.dialog-footer-fix .wrap {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}
.order-nav-ani.on {
  -webkit-animation: orderNavIn 0.2s ease-out forwards;
  animation: orderNavIn 0.2s ease-out forwards;
}
.order-nav-ani.off {
  -webkit-animation: orderNavOut 0.2s ease-out forwards;
  animation: orderNavOut 0.2s ease-out forwards;
}
@-webkit-keyframes orderNavOut {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
@keyframes orderNavOut {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
@-webkit-keyframes orderNavIn {
  0% {
    -webkit-transform: rotateX(90deg);
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@keyframes orderNavIn {
  0% {
    transform: rotateX(90deg);
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
  100% {
    transform: rotateX(0deg);
  }
}
.dialog-order-details .mask {
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
}
.dialog-order-details .content-box {
  background: white;
  z-index: 100;
  left: 1rem;
  right: 1rem;
  -webkit-transform: scale(1, 1) translate(0, -50%);
  -moz-transform: scale(1, 1) translate(0, -50%);
  transform: scale(1, 1) translate(0, -50%);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.dialog-order-details .close {
  background-position: 0 100%;
}
.dialog-order-details .top-address {
  width: 90%;
  margin: 2.5rem auto  .5rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: .2rem;
  position: relative;
}
.dialog-order-details .top-address span {
  width: 40%;
  display: block;
  float: left;
  text-align: right;
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog-order-details .top-address span:last-child {
  float: right;
  text-align: left;
}
.dialog-order-details .top-address i {
  width: 20%;
  height: 3rem;
  display: block;
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}
.dialog-order-details .top-address i:before {
  content: "";
  width: 70%;
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
}
.dialog-order-details .top-address i:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  top: 50%;
  left: 85%;
  margin-top: -0.4rem;
  margin-left: -0.9rem;
  background: #333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-table;
}
.dialog-order-details .time-top {
  line-height: 2.6rem;
  font-size: 1.1rem;
  color: #8e8e8e;
  text-align: center;
}
.dialog-order-details .address-bott {
  border-top: 1px solid #d8d8d8;
  padding: 1rem 1rem 1.6rem;
  overflow: hidden;
}
.dialog-order-details .address-bott li {
  padding-left: 2.8rem;
}
.dialog-order-details .address-bott li.r {
  margin-top: 1rem;
}
.dialog-order-details .address-bott li:before {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  left: 0;
  margin-top: -0.8rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  border-radius: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: white;
}
.dialog-order-details .address-bott li.s:before {
  content: "寄";
  background: black;
}
.dialog-order-details .address-bott li.r:before {
  content: "收";
  background: #DC1E32;
}
.dialog-order-details .address-bott li .u {
  padding-right: 1rem;
}
.dialog-order-details .address-bott li p {
  line-height: 1.6rem;
}
.dialog-order-details .address-bott li .p-add {
  max-height: 3rem;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
  /** 显示的行数 **/
}
.dialog-order-details .changed {
  border-top: 1px solid #d8d8d8;
  padding: 1rem;
}
.dialog-order-details .changed dd {
  color: #DC1E32;
}
.dialog-order-details .changed dd .date {
  position: absolute;
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog-order-details .changed dd .content {
  padding-left: 6.4rem;
}
.dialog-order-details .changed dd .content span {
  display: block;
}
.dialog-order-details .changed .paymentMethod,
.dialog-order-details .changed .Insured {
  width: 50%;
  color: #797979;
}
.dialog-order-details .changed .paymentMethod span,
.dialog-order-details .changed .Insured span {
  color: #000;
}
.dialog-order-details .changed .Insured {
  padding-right: 20%;
}
.dialog-order-details .placeholder-10 {
  padding: 10px 0px;
}
.agree-sync {
  line-height: 2.2rem;
  margin-top: -0.9rem;
}
.agree-sync p {
  color: #B9BCBE;
  display: inline-block;
  padding-left: 1.5rem;
}
.agree-sync p:before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  left: 0;
  margin-top: -0.7rem;
  background: #B9BCBE;
  border: .1rem solid  #B9BCBE;
  border-radius: 50%;
}
.agree-sync.on p:before {
  background: #DC1E32;
  border: 0.1rem solid #DC1E32;
}
.agree-sync.on p {
  color: #DC1E32;
}
.agree-sync.on p:after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 0.7rem;
  top: 50%;
  border-top: 0.15rem solid white;
  border-left: 0.15rem solid white;
  margin-top: -0.3rem;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  left: .45rem;
  margin-top: -0.5rem;
}
.dialog-protocol .mask {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
.dialog-protocol .content {
  z-index: 99;
  width: 90.55%;
  padding: 3.2rem 0 1rem;
  background: white;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.dialog-protocol .content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  bottom: 5.4rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), #ffffff);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), #ffffff);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), #ffffff);
}
.dialog-protocol .box {
  max-height: 36rem;
  margin-bottom: 1rem;
  padding: 0 2.4rem;
  overflow-y: auto;
}
.dialog-protocol .box h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
.dialog-protocol .box p {
  margin: 0 0 .5rem;
  font-size: 1.1rem;
}
.dialog-protocol .box .isBold {
  font-weight: bold;
}
.dialog-protocol .box .swiper-container {
  height: 36rem;
}
.dialog-protocol .box .swiper-container .swiper-slide {
  height: auto;
}
.dialog-protocol .confirm {
  display: block;
  margin: 0 1rem;
  line-height: 4.4rem;
  text-align: center;
  font-size: 1.4rem;
  background: #DC1E32;
  color: white;
}
.dialog-protocol .close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background-position: 0 100%;
}
.dialog-protocol .red {
  font-weight: bold;
}
.dialog-protocol .breakAll {
  word-break: break-all;
}
.load-more-tips {
  display: block;
  text-align: center;
  line-height: 4.4rem;
  color: #DC1E32;
}
.load-loading {
  display: block;
  text-align: center;
  line-height: 4.4rem;
  color: #666;
}
.nav-switch {
  width: 100%;
  height: 2.4rem;
  z-index: 1;
}
.nav-switch.show {
  display: block;
}
.nav-switch:before {
  content: "点击展开更多功能";
  position: absolute;
  left: 36%;
  top: .5rem;
  font-size: 1.1rem;
  color: #DC1E32;
}
.nav-switch:after {
  content: "";
  position: absolute;
  width: .6rem;
  height: .6rem;
  left: 68%;
  top: 1.2rem;
  border-top: 0.15rem solid #DC1E32;
  border-left: 0.15rem solid #DC1E32;
  margin-left: -0.6rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-switch.up:before {
  content: "点击收起";
  position: absolute;
  left: 43%;
  top: .5rem;
  font-size: 1.1rem;
  color: #DC1E32;
}
.nav-switch.up:after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
  left: 62%;
  top: .8rem;
}
.all-total {
  z-index: 999;
}
.all-total.monthlyCardInfo .lit-mask {
  text-align: center;
}
.all-total.monthlyCardInfo .lit-mask p:first-child {
  line-height: 2.4rem;
  font-size: 1.7rem;
  color: #000;
}
.all-total.monthlyCardInfo .lit-mask p:last-of-type {
  line-height: 2rem;
  margin-top: .5rem;
  font-size: 1.4rem;
  color: #595959;
}
.all-total.monthlyCardInfo .lit-mask a.close {
  width: 2.8rem;
  height: 2.8rem;
  font-size: 0;
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.all-total.monthlyCardInfo .lit-mask a.close:before {
  content: "";
  width: .1rem;
  height: 1.2rem;
  background: #595959;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(40deg);
  -moz-transform: translate(-50%, -50%) rotate(40deg);
  transform: translate(-50%, -50%) rotate(40deg);
}
.all-total.monthlyCardInfo .lit-mask a.close:after {
  content: "";
  width: .1rem;
  height: 1.2rem;
  background: #595959;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-40deg);
  -moz-transform: translate(-50%, -50%) rotate(-40deg);
  transform: translate(-50%, -50%) rotate(-40deg);
}
.all-total.monthlyCardInfo .lit-mask div {
  height: 4.4rem;
  margin: 1rem 0 2rem;
  border: 1px solid #D2D2D2;
}
.all-total.monthlyCardInfo .lit-mask div input {
  width: 65%;
  display: inline-block;
  position: absolute;
  left: 0;
  border: none;
  padding: 1.3rem 0 1rem 1rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: black;
  background: none;
}
.all-total.monthlyCardInfo .lit-mask div span {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  width: 25%;
  bottom: 1.2rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
.all-total.monthlyCardInfo .lit-mask div.wrong {
  border: 1px solid #DC1E32;
}
.all-total.monthlyCardInfo .lit-mask div.wrong span {
  color: #DC1E32;
}
.all-total .big-wrap {
  background: #333;
  position: absolute;
  z-index: 10;
  opacity: 0.9;
}
.all-total .big-wrap a#tips {
  width: 2.8rem;
  height: 2.8rem;
  font-size: 0;
  position: absolute;
  top: 32%;
  right: 8%;
  z-index: 12;
}
.all-total .big-wrap a#tips:after,
.all-total .big-wrap a#tips:before {
  content: "";
  width: .11rem;
  height: 2rem;
  background: #5a5a5a;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.all-total .big-wrap a#tips:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.all-total .lit-mask {
  background: #fff;
  position: absolute;
  left: 2rem;
  right: 2rem;
  z-index: 11;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2.9rem 1rem 1rem 1rem;
  transform: scale(1, 1) translate(0, -50%);
  -webkit-transform: scale(1, 1) translate(0, -50%);
}
.all-total .lit-mask .img-mark {
  width: auto;
  height: 6.8rem;
  background: url(img/icon-regret.png) center no-repeat;
  background-size: contain;
}
.all-total .lit-mask .img-en-mark {
  width: auto;
  height: 6.8rem;
  background: url(img/ensure-mark.png) center no-repeat;
  background-size: contain;
}
.all-total .lit-mask .sorry-word {
  line-height: 5rem;
  font-size: 1.7rem;
  color: #000;
  text-align: center;
}
.all-total .lit-mask .con-word-ad {
  font-size: 1.4rem;
  color: black;
  line-height: 2rem;
  text-align: center;
}
.all-total .lit-mask .con-word-ad a {
  color: #288dfa;
  font-size: 1.4rem;
  display: inline-block;
  margin-left: .9rem;
}
.all-total .lit-mask .en-sure-word {
  font-size: 1.4rem;
  color: #5A5A5A;
  line-height: 1.8rem;
  text-align: center;
  margin: 2rem 0 1.2rem;
}
.all-total .lit-mask .mar-top {
  margin-top: 2.5rem;
}
.all-total .lit-mask .mask-btn {
  height: 4rem;
  line-height: 4rem;
  background: #DC1E32;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  display: block;
}
.all-total .lit-mask .white {
  width: 49%;
  border: 1px solid #ccc;
  height: 4rem;
  line-height: 4rem;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 1.6rem;
  display: inline-block;
  float: left;
}
.all-total .lit-mask .redblack {
  height: 4.1rem;
  line-height: 4.1rem;
  background: #DC1E32;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  margin-left: 1%;
  float: left;
  width: 49%;
}
.all-total .lit-mask .redbn {
  height: 4.1rem;
  line-height: 4.1rem;
  background: #DC1E32;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  float: left;
  width: 48%;
}
.all-total .lit-mask .whitebn {
  width: 48%;
  border: 1px solid #ccc;
  height: 4rem;
  line-height: 4rem;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 1.6rem;
  display: inline-block;
  float: left;
  margin-left: 3%;
}
.all-total .call-word {
  text-align: center;
  line-height: 3.2rem;
  display: block;
}
.all-total .call-word a {
  color: #DC1E32;
}
.all-total .con-word-tips {
  font-size: 1.1rem;
  color: #5A5A5A;
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 1.6rem;
}
.dialog-hintSmartAddress {
  z-index: 1;
  pointer-events: auto;
}
.dialog-hintSmartAddress .mask {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
.dialog-hintSmartAddress .content {
  z-index: 99;
  width: 86.25%;
  background: white;
  -webkit-overflow-scrolling: touch;
  height: 88%;
  border-radius: .3rem;
}
.dialog-hintSmartAddress .close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background-position: 0 100%;
}
.dialog-hintSmartAddress .titleText {
  text-align: center;
  padding-top: 1.9rem;
  line-height: 3.2rem;
  margin: 0;
  font-size: 1.4rem;
}
.dialog-hintSmartAddress .hintInfoBox {
  overflow-y: auto;
  height: 88%;
  border-radius: .3rem;
  display: block;
}
.dialog-hintSmartAddress .hintInfoBox .swiper-container {
  height: 100%;
  width: 100%;
}
.dialog-hintSmartAddress .hintInfoBox .swiper-slide {
  height: auto;
}
.dialog-hintSmartAddress .hintInfo {
  background: url('../styles/img/hintInfo.jpg');
  width: 100%;
  height: 51rem;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}
.spring-box {
  z-index: 2;
  pointer-events: auto;
}
.spring-box.hide {
  display: none !important;
}
.spring-box .mask {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
.spring-box .content {
  z-index: 99;
  width: 86.25%;
  background: white;
  -webkit-overflow-scrolling: touch;
  max-height: 47rem;
  border-radius: .5rem;
}
.spring-box img {
  width: 100%;
}
.spring-box p {
  word-break: break-all;
  text-indent: 2.2rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  color: #2E2E2E;
  line-height: 1.6rem;
}
.spring-box p span {
  color: #DC1E32;
}
.spring-box .title {
  padding-top: 1rem;
  text-indent: 0;
}
.spring-box .confirm {
  display: block;
  width: 11rem;
  height: 2.8rem;
  margin: 2rem auto;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1.5rem;
  color: #DC1E32;
  border: 1px solid #DC1E32;
  border-radius: 1.4rem 1.4rem 1.4rem;
}
@media screen and (max-width: 374.9px) and (min-width: 360px) and (max-height: 571px) {
  .dialog-protocol .box {
    max-height: 33rem;
  }
  .dialog-protocol .box .swiper-container {
    max-height: 33rem;
  }
}
@media screen and (max-width: 359.9px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374.9px) {
  html {
    font-size: 11.25px;
  }
}
@media screen and (min-width: 375px) and (max-width: 413.9px) {
  html {
    font-size: 11.7188px;
  }
}
@media screen and (min-width: 414px) and (max-width: 479.9px) {
  html {
    font-size: 12.9375px;
  }
}
@media screen and (min-width: 480px) and (max-width: 567.9px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 568px) and (max-width: 639.9px) {
  html {
    font-size: 17.75px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 20px;
  }
}
